debug.txt
map.db/*
.DS_Store
w2mt/projects
w2mt/world2minetest/map.dat
mods/world2minetest/map.dat
worlds/mods/world2minetest/map.dat
*.log
players.sqlite
auth.sqlite
env_meta.txt
logs/*
!logs/.gitkeep

# Minetest worlds
worlds/01/map.db/

# Ignore generated worlds
worlds/02-koeln/map.de/

# Ignore large generated JSON files in world directories
worlds/*/osm.json
worlds/*/features_osm.json
